@media only screen and (max-width: 767px) {
  
  .main-container {
    margin: auto;
    width: 95vw;
    
  }

  .main-container .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color:#40a9ff;
    font-weight: 100;
  }

  .main-container-tasks {
    height: 3.7rem;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(17, 16, 16);
  }

  .main-container-tasks .task-check {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 30px;
    transition: 200ms all linear;
    color: #14051dfd;
  }

  .task-check:hover{
    background-color: #21f190;
    color: rgb(0, 0, 0);
  }

  .main-container-tasks .task{
    width: 100%;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: flex;
    color: rgb(243, 224, 250);
    overflow-x: auto;
  }
  
  .main-container-tasks .task-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    position: relative;
    right: 1rem;
    color: #4f9bff;
    font-size: 1.5rem;
    transition: 100ms linear all;
  }
  .task-remove:hover{
    color: #f83f3f;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-container {
    margin: auto;
    width: 95vw;
    
  }

  .main-container .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color:#40a9ff;
    font-weight: 100;
  }

  .main-container-tasks {
    height: 3.7rem;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(17, 16, 16);
  }

  .main-container-tasks .task-check {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 30px;
    transition: 200ms all linear;
    color: #14051dfd;
  }

  .task-check:hover{
    background-color: #21f190;
    color: rgb(0, 0, 0);
  }

  .main-container-tasks .task{
    width: 100%;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: flex;
    color: rgb(243, 224, 250);
    overflow-x: auto;
  }
  
  .main-container-tasks .task-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    position: relative;
    right: 1rem;
    color: #4f9bff;
    font-size: 1.5rem;
    transition: 100ms linear all;
  }
  .task-remove:hover{
    color: #f83f3f;
  }
}

@media only screen and (min-width: 992px) {
  .main-container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .main-container .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color:#40a9ff;
    font-weight: 100;
  }

  .main-container-tasks {
    height: 3.7rem;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(17, 16, 16);
  }

  .main-container-tasks .task-check {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 30px;
    transition: 200ms all linear;
    color: #14051dfd;
  }

  .task-check:hover{
    background-color: #21f190;
    color: rgb(0, 0, 0);
  }

  .main-container-tasks .task{
    width: 100%;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: flex;
    color: rgb(243, 224, 250);
    overflow-x: auto;
  }
  
  .main-container-tasks .task-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    position: relative;
    right: 1rem;
    color: #4f9bff;
    font-size: 1.5rem;
    transition: 100ms linear all;
  }
  .task-remove:hover{
    color: #f83f3f;
  }
}

@media only screen and (min-width: 1200px) {
  /* Estilos para desktops grandes e telas maiores */
}

@media only screen and (orientation: landscape) {
  .main-container {
    margin: auto;
    width: 95vw;
    
  }

  .main-container .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color:#40a9ff;
    font-weight: 100;
  }

  .main-container-tasks {
    height: 3.7rem;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(17, 16, 16);
  }

  .main-container-tasks .task-check {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 30px;
    transition: 200ms all linear;
    color: #14051dfd;
  }

  .task-check:hover{
    background-color: #21f190;
    color: rgb(0, 0, 0);
  }

  .main-container-tasks .task{
    width: 100%;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: flex;
    color: rgb(243, 224, 250);
    overflow-x: auto;
  }
  
  .main-container-tasks .task-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    position: relative;
    right: 1rem;
    color: #4f9bff;
    font-size: 1.5rem;
    transition: 100ms linear all;
  }
  .task-remove:hover{
    color: #f83f3f;
  }
}


/*KEY FRAMES*/
.animation-create{
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.animation-finish{
  animation: fadeIn 2s ease-in-out;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-10 19:51:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

